html {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

form label, input {
    margin-right: 10px;
}

form span {
    height: 20px;
}

.form_row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
